{% extends "base.html.twig" %}

{% block title %}
    Edition de : {{product.name}}
{% endblock %}

{% block body %}
    <h1>Editer le produit : {{product.name}}</h1>

    {{form_start(formview)}}
    {{form_errors(formview)}}

    <div class="row">
        <div class="col">
            {{form_row(formview.name)}}
            {{form_row(formview.price)}}
        </div>
        <div class="col">
            {{form_row(formview.picture)}}
            {{form_row(formview.shortDescription)}}
            {{form_row(formview.category)}}
        </div>
    </div>

    <button class="btn btn-primary">
        <i class="fas fa-save"> Modifier le produit</i>   
    </button>

    {{form_end(formview)}}

{% endblock %}